<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Fresh Papaya" %></title>

    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", "vendor/modernizr", 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="row">
    <div class="small-1 columns papaya-left">
    </div>
    <div class="small-10 small-centered columns papaya-skin">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= render 'layouts/footer' %>
    </div>
    <div class="small-1 columns">
    </div>
  </div>
  </body>
</html>